.footer {
  padding: 40px 20px;
  background: rgb(1, 1, 20);
}

.footer-container {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--color-primary);
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}
