.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 50%;

  background: #4facfe;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  transition:
    transform 0.2s ease,
    background 0.2s ease;

  z-index: 1000;
}

.scroll-top-btn:hover {
  transform: translateY(-3px);
  background: #00c6ff;
}
