.skills {
  padding: 120px 20px;
}

.skills-container {
  max-width: var(--max-width);
  margin: auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
}

.skill-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: var(--transition);
}

.skill-card svg {
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.skill-card:hover {
  transform: translateY(-5px);
}
